@model ExpressionModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Home" asp-action="Index">
            <label for="expression" class="form-label">Expression</label>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="expression" name="expression" value="@Model?.Expression" />
                </div>
                <div class="col-md-1 text-center">
                    <span>=</span>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" id="result" name="Result field" value="@Model?.Result" />
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger">
                    @foreach (var error in ViewData.ModelState["expression"].Errors)
                    {
                        <span>@error.ErrorMessage</span>
                    }
                </div>
            }
            <input type="submit" class="btn btn-success mt-1" />
        </form>
    </div>
</div>
