@model ExpressionModel
@{
    ViewData["Title"] = "Home page";
}

<div class="calculator-wrapper">
    <form method="post" asp-controller="Home" asp-action="Index" class="calculator">
        <div class="data">
            <input type="text" class="expression" id="expression" name="expression" value="@Model?.Expression" placeholder="Expression" />
            <div class="result"><span>=</span>@(ViewData.ModelState.IsValid ? Model?.Result : string.Empty)</div>
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["expression"]?.Errors)
                {
                    <span>@error.ErrorMessage</span>
                }
            </div>
        }
        <div class="controls">
            <input type="submit" class="form-submit" value="Evaluate" />
        </div>
    </form>
</div>
